    body {
    background-color: #00394a;
    color: white;
    a {
        color: rgb(154, 238, 255);
    }
}

/*#content {

}*/

.footer {
    left: 0;
    bottom: 0;
    width: 100%;
    background-color: #002834;
    text-align: center;
    box-sizing: border-box;
    z-index: 100;
    position: fixed;
}


